@font-face {
  font-family: 'Montserrat';
  src: url('@/assets/fonts/Montserrat.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Italic';
  src: url('@/assets/fonts/Montserrat-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

* {
  font-family: 'Montserrat', Verdana, sans-serif;
}